* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Arimo", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header {
    background-color: #333;
    color: #fff;
    margin: 20px auto;
    max-width: 400px;
    padding: 10px;
    text-align: center;
}
main {
    max-width: 400px;
    margin: 20px auto;
    background-color: #ccc;
    padding: 15px;
}
main form {
    display: flex;
    flex-direction: column;
}
label, form .rate, form .features {
    margin-top: 10px;
    font-weight: 700;
}

.label-container {
    display: flex;
    gap: 10px;
    padding: 10px;
}
.label-container .radio.container {
    display: block;
}

.label-container input {
    margin-right: 8px;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.checkbox-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.checkbox-item label {
    cursor: pointer;
}

input[type="checkbox"] {
    margin: 9px 5px 0 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

form .checkbox-container label {
    font-weight: 400;
}
input, select {
    padding: 8px;
    border: none;
}
textarea {
    height: 100px;
    border: none;
}
fieldset {
    border: none;
    padding: 5px;
}
input[type="submit"] {
    margin-top: 15px;
    border: 1px solid #aaa;
    cursor: pointer;
    font-size: 14pt;
}
input[type="submit"]:hover {
    background-color: #4d4a4a;
    color: #fff;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #0b0b0b;
    color: #fff;
    max-width: 400px;
    margin: 0 auto;
}

.review {
    text-align: center;
}
.review h1 {
    color: #1e8f1e;
}

.received {
    border: none;
    color: #1e8f1e;
    animation: greater 1s;
    font-size: 60px;
}

@keyframes greater {
    0% {
        font-size: 10px;
        }
    100% {
        font-size: 60px;
    }
}

label[for="pname"]::after {
    content: "*";
    color: #a40303;
    font-size: 14pt;
}

span.rate::after {
    content: "*";
    font-size: 14pt;
    color: #a40303;
}

label[for="date"]::after {
    content: "*";
    font-size: 14pt;
    color: #a40303;
}